/* Add this to your existing Header.css or create a new CSS file */

/* Adjust padding and margin as needed */
.navbar-nav {
  margin-left: auto;
}

.navbar-collapse {
  max-height: none; /* Override the max-height for mobile responsiveness */
}

.navbar-toggler {
  border: none;
  outline: none;
}
